.newsHeadingCard {
  padding: 0.5rem;
  width: 100%;
  display: relative;
  /* border: none; */
  border-bottom: 1px solid rgb(170, 170, 170);
}

.headingImage {
  width: 100%;
  min-height: 150px;
  max-height: 250px;
}

.overflow {
  overflow: hidden;
}
