/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
} */

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* * {
  box-sizing: border-box;
} */

.col-xs-6 {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}

.newsDiv {
  display: flex;
  padding: 10px;
}
